.even-bigger-container{
	width: 1280px;
}
.page-dimensions{
	width: 1280px;
	/*margin-left: 63px;*/
	/*margin-right: 100px;*/
}

.logo{
	margin-left: 65px;
	color: black;
	font-size: 60px;
	font-family: "Courier", sans-serif;
}

.bluelogo{
	color: #4bcaff;
	font-size: 60px;
	font-family: "Courier", sans-serif;
	display: inline-block;
	margin-bottom: 45px;
}

.navbar{
	background-color: #35444f;
	display: inline-block;
	margin: 0 auto 50px 65px;
	text-align: center;
	padding-top: 23px;
	padding-bottom: 23px;
}

.navbar-items{
	font-size: 20px;
	font-family: "Courier", sans-serif;
	color: white;
	/*margin-right: 60px;*/
	padding: 22px 42px 21px;
}

.mr-clear{
	margin-right: 0;
}

.navbar-items:hover{
	background-color: #222f3a;
	border-right: 1px solid white;
	border-left: 1px solid white;
	/*padding: 22px 30px;*/
}

.menu{
	border: 1px solid black;
	display: inline-block;
	float: left;
	width: 250px;
}

.menu-item{
	display: block;
	font-size: 20px;
	font-family: "Courier", sans-serif;
	color: #55636d;
	padding-left: 20px;
	padding-bottom: 25px;
	padding-top: 25px;
}

.menu-item:hover{
	background-color: #dbdbdb;
	padding-left: 30px;
	color: black;
}
.big-container{
	width: 1280px;
	/*margin: 0 auto;*/
	padding-left: 65px;
}

.small-container{
	display: inline-block;
	width: 928px;
	margin-left: 95px;
}

.picture{
	display: block;
	text-align: center;
	border: 1px solid black;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-bottom: 50px;
}
.paragraphs{
	font-size: 18px;
	font-family: "Courier", sans-serif;
	margin: 0 30px;
}

.para1{
	margin-bottom: 30px;
}

.para2{
	margin-bottom: 50px;
}

.footer-nav-bar{
	/*display: inline-block;*/
	font-size: 20px;
	font-family: "Courier", sans-serif;
	background-color: #b4b7ba;
	padding-top: 22px;
	padding-bottom: 22px;
	/*margin-bottom: 50px;*/
	width: 1280px;
	margin: 0 auto 50px 65px;
}

.footer-nav-bar-items{
	text-align: left;
	margin-right: 20px;
	color: #0c1927;
}
.copyright{
	display: inline-block;
	float: right;
	margin-right: 50px;
	color: #0c1927;
}

.first-item{
	margin-left: 45px;
}

.footer-nav-bar-items:hover{
	color: #3181a6;
	border-bottom: 1px solid #3181a6;

}