body  {
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

.overlay  {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: -1;
}

.page-dimensions  {
	width: 1018px;
	margin: 20px auto 0;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}
/******************Section 1*********************/
.header-info  {
	display: inline-block;
}

.header-logo  {
	display: inline;
	/*vertical-align: middle;*/
}

.header-text-big  {
	/*text-transform: uppercase;*/
	font-size: 28px;
	/*color: white;*/
	display: block;
	/*vertical-align: top;*/
	margin-bottom: 5px;
	font-weight: 700;
}

.header-text-small  {
	/*text-transform: uppercase;*/
	font-size: 18px;
	/*color: white;*/
	display: inline-block;
	/*vertical-align: bottom;*/
	font-weight: 700;

}

.header-logo-container  {
	color: white;
	text-transform: uppercase;
	display: inline;
}

.header-logo-container:hover .header-logo {
	content: url("../images/orange-logo.png ");
	color: #f26522;
}

.header-logo-container:hover  {
	color: #f26522;
}

.logo-text:hover  {
	color: #f26522;
	cursor: pointer;
}

.logo-text  {
	display: inline-block;
	/*vertical-align: middle;*/
	/*width: 100px;*/
	margin-left: 10px;
	text-align: center;
}

.contacts {
	display: inline-block;
	float: right;
	font-size: 18px;
	color: white;
	text-align: center;
	margin-top: 15px;
}

.e-mail {
	margin-bottom: 5px;
}


/*******************Section 2********************/


.activity-card  {
	/*height: 250px;*/
	/*width: 300px;*/
	float: left;
	/*margin: 50px 0 50px 0;*/
	margin-top: 30px;
	margin-right: 30px;
}

.activity-picture {
	height: 200px;
	width: 308px;
	/*box-shadow: 0 20px 20px 16px #010101;*/
}

.block-for-cutting {
	height: 200px;
	width: 308px;
	overflow: hidden;
	position: relative;
}

.activity-hover {
	position: absolute;
	background-color: #f26522;
	top: -70px;
	margin: 0 auto;
	display: inline-block;
	/*text-align: center;*/
	width: 100%;
	padding: 30px 0 17px 0;
}

.activity-price {
	/*float: left;*/
	color: white;
	position: relative;
	margin-left: 20px;
}

.activity-price:before {
	content: '€';
}

.activity-price:after {
	content: 'from';
	font-size: 9px;
	top: -10px;
	left: 0;
	position: absolute;
}

.activity-view-details{
	position: relative;
	float: right;
	margin-right: 20px;
	color: white;
}

.activity-view-details:after{
	content: url("../images/Arrow@1X.png");
	position: absolute;
	left: 105px;
	color: white;
}

.activity-description {
	color: white;
	margin: 20px auto;
	display: block;
	text-align: center;
	text-transform: capitalize;
}

.activity-card:hover .block-for-cutting{
	overflow: initial;
}

.activity-card:hover .activity-hover{
	top: 138px;
}

.activity-card:hover .activity-description{
	color: #f26522;
}

.copyright{
	font-size: 13px;
	text-align: center;
	color: white;
}

.last-item{
	margin-bottom: 20px;
}