.main-table{
	border: 22px solid #3a4965;
	empty-cells: show;
	margin: 0 auto;
	/*width: 100%*/
}

td{
	width: 270px;
	height: 70px;
	text-transform: uppercase;
	font-family: 'Arimo', sans-serif;
	vertical-align: middle;
	text-align: center;
	border-left: 1px solid #eaeaea;
	border-right: 2px solid #eaeaea;
}

tr:nth-child(odd){
	background-color: #e3e3e3;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

.pricing-plans{
	font-size: 22px;
	color: white;
	font-weight: bold;
}

.standard {
	background-color: #89c331;
}

.ultimate{
	background-color: #f04a56;
}

.premium{
	background-color: #20807c;
}

.black-font{
	color: #484848;
	font-weight: bold;
}

.white-background{
	background-color: #fff;
}

.choose{
	font-size: 18px;
	vertical-align: bottom;
}

.plan{
	font-size: 30px;
}

.price{
	font-size: 60px;
	position: absolute;
	top: 0;
	left: 34px;
}

.relative{
	position: relative;
}

.floating-price{
	font-size: 24px;
	position: absolute;
	top: 0;
	left: 135px;
}

.per-period{
	position: absolute;
	top: 27px;
	right: 20px;
}

.normal-text{
	color: #484848;
	font-size: 16px;
}

.icon{
	margin-right: 10px;
	color: #848484;
}

.border-collapse{
	border-collapse: collapse;
	border-right: none;
}

.button{

	/*display: block;*/
	margin: 0 auto;
	/*vertical-align: middle;*/
	/*height: 50px;*/
	/*width: 190px;*/
	/*padding: 17px 42px;*/
	color: white;
	border-radius: 5px;
	/*position: relative;*/
}

.black-background{
	background-color: #484848;
	box-shadow: 0 8px 0 #404040;
	padding: 17px 45px;
}

.green-background{
	background-color: #89c331;
	box-shadow: 0 8px 0 #79b027;
	padding: 17px 55px;
}

.red-background{
	background-color: #f04a56;
	box-shadow: 0 8px 0 #df3a46;
	padding: 17px 55px;
}

.blue-background{
	background-color: #20807c;
	box-shadow: 0 8px 0 #16736f;
	padding: 17px 55px;
}

.last-cell{
	padding: 25px 0;
}

/*.black-background{*/
/*	padding: 17px 45px;*/
/*}*/

/*.green-background .red-background .blue-background{*/
/*	padding: 17px 55px;*/
/*}*/

/*.vertical-align-1{*/
/*	position: absolute;*/
/*	top: 22px;*/
/*	left: 43px;*/
/*}*/

/*.vertical-align-2{*/
/*	position: absolute;*/
/*	top: 21px;*/
/*	left: 57px;*/
/*}*/

/*.vertical-align-3{*/
/*	position: absolute;*/
/*	top: 21px;*/
/*	left: 60px;*/
/*}*/


