*{
    margin: 0;
    background-color: #f5f6f7;
}
.nav-panel{
    color:#16a085;
    font-family: AdobeInvisFont;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    padding-left: 80px;
    letter-spacing: 2px;
}
.navbuttons{
    color:#16a085;
    font-family: Roboto-Black;
    font-size: 18px;
    text-decoration: none;
    margin-right: 65px;
    text-transform: uppercase;
    font-weight: bold;
}
img{
    width: 100%;
    height: 100%;
}
.MainTitle{
    font-family: "Roboto";
    color: #373737;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    word-spacing: 5px;
}
.Para1{
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 34px;
    padding-left: 113px;
    padding-right: 108px;
    text-align: center;
    margin-bottom: 34px;
    word-spacing: 10px;
    letter-spacing: 3px;
    text-weight: bold;
    color: #373737;
}
.Para2{
    font-family: "Roboto";
    font-size: 16px;
    padding-left: 113px;
    padding-right: 108px;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 3px;
    text-weight: bold;
    color: #373737;
    margin-bottom: 60px;
}
.button{
    color: white;
    display: block;
    background-color: #16a085;
    margin-top: 65px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "GothamRounded-Bold";
    font-size: 12px;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
    border-radius: 5px;
    word-spacing: 3px;
    letter-spacing: 2px;
    text-weight: bold;
    cursor: pointer;
    width: 192px;
    height: 15px;
}
button-font{
    background-color: #16a085;
}
copyright-font{
    background-color: white;
}
.copyright{
    background-color: white;
    color: #373737;
    /*padding-left: 894px;*/
    padding-right: 60px;
    padding-bottom: 45px;
    padding-top: 47px;
    margin-top: 94px;
    font-family: "Roboto";
    font-size: 16px;
    word-spacing: 3px;
    letter-spacing: 2px;
    text-align: right;
}
