html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: white;
    font-size: 27px;
    text-transform: uppercase;
}

h3 {
    font-size: 27pt;
    font-weight: bold;
    color: rgba(24, 180, 207, 255);
}

a {
    color: black;
}

a:visited {
    color: black;
}

.space {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin: 30px auto;
}

#toTop {
    width: 60px;
    height: 60px;
    background-color: rgba(70, 121, 238, 1);
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 145px;
    right: 5px;
    /*transition: transform 0.5s;*/
}

.anchor::after {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    display: inline-block;
    transform: rotate(-45deg) translate(-20%,20%);
    transition: transform 0.5s;
}

.nav-bar {
    height: 6vh;
    background-color: #1d2124;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-item {
    text-transform: uppercase;
    color: white;
    margin: 0 17px;
    position: relative;
    right: 50px;
    /*align-self: center;*/
    /*align-items: center;*/
}

.nav-bar-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    font-weight: 800;
    color: white;
    font-size: 22px;
    margin: 13px;

    /*align-self: center;*/
    /*position: relative;*/
    /*margin-left: 40px;*/
}


/*.logo::before{*/
/*	content: "";*/
/*	background-image: url("../images/logo-img@1X.png");*/
/*	width: 27px;*/
/*	height: 27px;*/
/*	!*top: 0;*!*/
/*	left: -40px;*/
/*	position: absolute;*/
/*	vertical-align: middle;*/
/*}*/

.logo-img{
    background-color: rgba(0,0,0,0.5);
    padding: 11px;

}

.search {
    color: white;
    margin-right: 20px;
    /*vertical-align: middle;*/
    /*padding: 8vh;*/
    /*background-color: #171a1c;*/
}

.logo-sec {
    display: flex;
    justify-content: center;
    /*align-self: center;*/


}

/************************Section1***********************/

.news {
    background-image: url("../images/img_header-bg.jpeg");
    height: 404px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    color: white;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-buttons {
    margin-top: 44px;
}

.Subscribe {
    display: inline-block;
    justify-content: center;
    color: white;
    font-size: 24px;
    line-height: 50px;
    height: 55px;
    width: 170px;
    border-radius: 3px;
    background-color: #89ca62;
    margin-right: 20px;
}

.Articles-link {
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 50px;
    height: 55px;
    width: 170px;
    border-radius: 3px;
    background-color: #14b9d5;
}

/*********************Section2************************/

.kostyl {
    position: relative;
    bottom: 112px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f2f2f2;
}

.posts {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    height: 1030px;
    margin-bottom: -100px;
}

.posts-items {
    display: flex;
    width: 1170px;
    flex-flow: column wrap;
}

.posts-items > div {
    height: 35%;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 20px;
}

.posts-items > div:nth-child(3n+1) {
    order: 1;
    height: 31%;
}

.posts-items > div:nth-child(3n+2) {
    order: 2;
}

.posts-items > div:nth-child(3n) {
    order: 3;
    height: 34%;
}

.posts-items > div > p {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.posts-items > div:nth-of-type(2) {
    height: 43%;
}

.posts-items > div:nth-of-type(5) {
    height: 30%;
}

.posts-items > div:nth-of-type(6) {
    height: 43%;
}

/***********************Section 3*********************/
.clients {
    height: 598px;
    background-image: url("../images/img_parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
}

.clients-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 198px;
}

.clients-items-header {
    grid-column: 1/5;
}

.blue-line {
    width: 60px;
    border-bottom: 3px solid #169cb4;
    grid-column: 1/5;
}

/***********************Section 4*************************/

.Top-rated-header {
    display: grid;
    height: 132px;
    justify-content: center;
    align-content: center;
}

/***********************Section 5***********************/
.Top-rated {
    /*height: 190px;*/
    /*width: 1561px;*/
    overflow: hidden;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

/***********************Section 6***********************/

/*.hot-news {*/
/*	display: grid;*/
/*	justify-content: center;*/
/*	align-content: center;*/
/*}*/

.hot-news-block {

    text-align: right;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 277px 35px 242px 60px 242px 35px 277px ;
    grid-template-rows: 259px 418px 416px 270px;
    font-size: 14px;
    grid-row-gap: 30px;
    width: 1170px;
    height: 1480px;


}

.hot-news-block > div {
    background-color: #f9f7f7;
    width: fit-content;
    height: max-content;

}

.r1b1 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.r1s1 {
    grid-column: 7/8;
    grid-row: 1/2;
}

.r2b1 {
    grid-column: 1/4;
    grid-row: 2/3;
}

.r2b2 {
    grid-column: 5/8;
    grid-row: 2/3;
}

.r3b1 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.r3b2 {
    grid-column: 5/8;
    grid-row: 3/4;
}

.r4s1 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.r4b2 {
    grid-column: 3/8;
    grid-row: 4/5;
}

.hot-news-centered-paragraph {
    display:flex;
    justify-content: right;
    vertical-align: center;
}

.mr {
    margin: 20px 24px;
}

.bold-text{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 24px;
}

/**************************Footer***********************/


.copyright {
    background-color: #1d2124;
    /*grid-template-areas: "rights logo";*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
}

.rights {
    color: white;
    justify-self: end;
    align-self: center;
}

.logo-design{
    justify-self: center;
    align-self: center;
}
