body{
  min-width: 320px;
}

.page-dimensions {
  font-family: 'Montserrat', sans-serif;
  margin: 20px
}

/*              Device Width Section                */

.iphone-icon{
  font-size: 40px;
  color: #ebebeb;
  margin-right: 1px;
}

.ipad-icon{
  display: none;
  font-size: 60px;
  color: #ebebeb;
  margin-right: 1px;
}

.desktop-icon{
  display: none;
  font-size: 90px; 
  color: #ebebeb;
  margin-right: 1px;
}

.dvw{
  font-size: 20px;
  color: #a7a7a7;
}

.device-width{
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*              Navbar Section                */

.navbar-adaptive{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373c3f;
}

.navbar-text{
  font-size: 16px;
  color: white;
  padding: 12px 19px;
}

.burger-menu-640{
  display: none;
}

.navbar-desktop{
  display: none;
  justify-content: space-between;
  background-color: #373c3f;
  padding: 8px 20px;
}

.navbar-desktop-link{
  font-size: 18px;
  color: #dfdfe0;
  margin: 0 17px;
  text-transform: uppercase;
}

.navbar-desktop-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*              Slogan Section                */

.slogan-section{
  margin-bottom: 4px;
}

.slogan-image{
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/slogan-image-320.png') no-repeat;
  height: 173px;
  background-position: center;

}

.slogan-text-wrapper{
  padding: 20px;
}

.slogan-text{
  font-size: 14px;
  line-height: 25px;
  color: white;
}

.slogan-link{
  color: #95bec6;
  font-size: 12px;
}

/*              Options Section                */

.options{
  margin-bottom: 18px;
}

.option{
  display: flex;
  margin: 1px 0;
}

.pizza-delivery-text-wrapper{
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/pizza-delivery-320.png') no-repeat;
  background-position: bottom;
}

.options-text-wrapper{
  height: 75px;
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.ui-ux-text-wrapper{
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/ui-ux-salads-320.png') no-repeat;
  background-position: bottom;
}

.desserts-text-wrapper{
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/desserts-320.png') no-repeat;
  background-position: center;
}

.option-name{
  color: white;
  font-size: 20px;  
}

.options-button{
  background-color: #acd8ad;
  width: 28%;
  height: 75px;
  position: relative;
}

.options-button::after{
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid white;
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  top: 45%;
  left: 45%;
}

/*              Menu Section                */

.menu-logo-980{
  display: none;
}

.menu-logo-1200{
  display: none;
}

.menu-title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.menu-title-text{
  font-size: 15px;
  color: #3f4043;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.menu-subtitle-text{
  font-size: 9px;
  color: #d5d6d8;
  margin-bottom: 10px;
}

.menu-1-title{
  text-transform: uppercase;
  color: #acd8ad;
  /* padding: 10px 20px 10px 18px; */
  padding: 10px 20px;
  background-color: #3f4043;  
}

.menu-dishes{
  padding: 15px;
}

.menu-dishes-logo-640{
  display: none;
}

.menu-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.menu-name-text{
  font-size: 13px;
  text-transform: uppercase;
   color: #3f4043;

}

.menu-dish{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.menu-dish-name{
  font-size: 11px;
  color: #3f4043;
}

.menu-list-item{
  margin-bottom: 11px;
}

.menu-dish-name-description{
  font-size: 7px;
  color: #3f4043;
}

.menu-dish-price{
  color: #3f4043;
}

.last-menu-item{
  margin-bottom: 22px;
}

.menu-icon{
  font-size: 25px;
  color: #acd8ad
}

.menu-2-title{
  text-transform: uppercase;
  background-color: #acd8ad;
  /* padding: 10px 20px 10px 18px; */
  padding: 10px 20px;
  color: white; 
}

.menu-icon-coffee{
  font-size: 22px
}

/*              Footer                */

.footer-text{
  padding: 12px 40px;
  color: white;
  background-color: #acd8ad;
  font-size: 9px;
  text-align: center;
}

.footer-logo{
  display: none;
}


/*              Media Requests                */

@media(min-width: 640px){

  .page-dimensions{
    margin: 32px;
  }

  /* Navbar Section */
  .burger-menu-320{
    display: none;
  }

  .burger-menu-640{
    display: block;
  }

  /* Slogan Section */

  .slogan-section{
    margin-bottom: 5px;
  }

  .slogan-image{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/slogan-image-640.png') no-repeat;
    background-position: center;
    height: 346px;
  }

  .slogan-text-wrapper{
    padding: 38px
  }

  .slogan-text{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 11px;
  }

  .slogan-link{
    font-size: 24px;
  }

  /* Options Section */

  .pizza-delivery-text-wrapper{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/pizza-delivery-640.png') no-repeat;
    background-position: bottom;
  }

  .ui-ux-text-wrapper{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/ui-ux-salads-640.png') no-repeat;
    background-position: bottom;
  }

  .desserts-text-wrapper{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/desserts-640.png') no-repeat;
    background-position: center;
  }

  .option{
    margin: 2px 0;
  }

  .options-text-wrapper{
    width: 76%;
    height: 150px;
  }

  .options-button{
    width: 24%;
    height: 150px;
  }

  .options-button::after{
    width: 15px;
    height: 15px;
    border: 3px solid white;
    border-bottom: none;
    border-left: none;
    top: 43%;
    left: 43%;
  }

  .option-name{
    font-size: 30px;
  }

  /* Menu Section */
  
  .options{
    margin-bottom: 40px;
  }

  .menu-title-text{
    font-size: 33px;
  }

  .menu-subtitle-text{
    font-size: 16px;
  }

  .menu-title-wrapper{
    margin-bottom: 20px;
  }

  .menu-1-title, .menu-2-title{
    font-size: 30px;
    padding: 23px 171px 23px 38px;
  }

  .menu-dishes{
    padding: 30px;
  }

  .menu-name-text{
    font-size: 25px;
  }

  .menu-dishes-logo-320{
    display: none;
  }

  .menu-dishes-logo-640{
    display: block;
  }

  .menu-dish{
    margin-bottom: 16px;
  }

  .menu-dish-name{
    font-size: 22px;
  }

  .menu-dish-price{
    font-size: 25px;
  }

  .menu-name{
    margin-bottom: 36px;
  }

  .menu-dish-name-description{
    font-size: 14px
  }

  .last-menu-item{
    margin-bottom: 45px;
  }

  .menu-icon{
    font-size: 45px
  }

  .menu-icon-wine{
    font-size: 56px;
  }

  .menu-icon-coffee{
    font-size: 40px;
  }

  /* Footer */

  .footer-text{
    font-size: 18px;
    line-height: 35px
  }


}

@media(min-width: 980px){
  /* Device Width Section */

  .iphone-icon{
    display: none;
  }

  .ipad-icon{
    display: block;
  }

  /* Navbar Section */

  .navbar-adaptive{
    display: none;
  }
  .navbar-desktop{
    display: flex;
  }

  /* Slogan Section */

  .slogan-section{
    margin-bottom: 6px;
  }

  .slogan-image{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/slogan-image-980.png') no-repeat;
    background-position: center;
    height: 530px;  
  }

  .slogan-text-wrapper{
    padding: 64px 30px; 
  }

  .slogan-text{
    font-size: 54px;
    line-height: 60px;
    margin-bottom: 55px;
  }

  .slogan-link{
    font-size: 34px;
  }

  /* Options Section */

  .pizza-delivery-text-wrapper{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/pizza-delivery-980.png') no-repeat;
    background-position: center;
  }

  .ui-ux-text-wrapper{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/ui-ux-salads-980.png') no-repeat;
    background-position: center;
  }

  .desserts-text-wrapper{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/desserts-980.png') no-repeat;
    background-position: center;
  }

  .options-button{
    display: none;
  }

  .options-text-wrapper{
    width: 305px;
    height: 327px;
  }

  .options{
    display: flex;
    justify-content: center;
  }

  /* Menu Section */

  .menu-logo-980{
    display: block;
  }

  .menu-wrapper{
    display: flex;
    justify-content: space-between;
  }

  /* Footer Section */

  .footer-logo{
    display: block;
  }

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 30px;
    background-color: #acd8ad
  }

  .footer-text{
    padding: 0;
    font-size: 18px;
    background-color: transparent;
  }

  .footer-line-break{
    display: none;
  }


}
@media(min-width: 1200px){
  .page-dimensions{
    margin: 40px;
  }

  /* Device Width Section */

  .ipad-icon{
    display: none;
  }

  .desktop-icon{
    display: block;
  }

  .dvw{
    font-size: 30px;
  }

  .device-width{
    margin-bottom: 49px;
  }

  /* Slogan Section */

  .slogan-section{
    margin-bottom: 6px;
  }

  .slogan-image{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/slogan-image-1200.png') no-repeat;
    background-position: center;
    height: 649px;  
  }

  .slogan-text-wrapper{
    padding: 64px 30px; 
  }

  .slogan-text{
    font-size: 54px;
    line-height: 60px;
    margin-bottom: 55px;
  }

  .slogan-link{
    font-size: 34px;
  }

  /* Options Section */

  .pizza-delivery-text-wrapper{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/pizza-delivery-1200.png') no-repeat;
    background-position: center;
  }

  .ui-ux-text-wrapper{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/ui-ux-salads-1200.png') no-repeat;
    background-position: center;
  }

  .desserts-text-wrapper{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/desserts-1200.png') no-repeat;
    background-position: center;
  }

  .options-button{
    display: none;
  }

  .options-text-wrapper{
    width: 373px;
    height: 400px;
  }

  .options{
    display: flex;
    justify-content: center;
  }

  /* Menu Section */

  .menu-1-title, .menu-2-title{
    font-size: 28px
  }
}